@page "/"
@rendermode InteractiveServer
@using EcoMeal.Client.Components.BusinessList

<PageTitle>Home</PageTitle>


<div class="card my-4 rounded-4 border-success">
    <div class="card-body">
        <h1>Businesses:</h1>
    </div>
</div>
<BusinessList />