@namespace EcoMeal.Client.Components.BusinessList
@using EcoMeal.Client.Components.BusinessCard
@using EcoMeal.Client.Models

<div>

    @if(Businesses is null){
        <p>Loading</p>
    }else if(!Businesses.Any()){
        <p>No businesses found.</p>
    }else{
        <div class="container">
            <div class="row align-items-cente">
                @foreach (var business in Businesses){
                    <BusinessCard Business="business" OnDeleted="RefreshList"/>
                }
            </div>
        </div>
    }
</div>
