@namespace EcoMeal.Client.Components.PackageCard
@using Microsoft.AspNetCore.Components.Authorization

<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
  <div class="card rounded-4 border-success bg-success-emphasis">
    <div class="card-body">

      <h5 class="card-title">@Package.Name</h5>
      <p class="card-text">@Package.Description</p>
      <p class="card-text">@Package.PackageTypeName</p>
      <p class="card-text">Pret: @Package.Price RON</p>
      <AuthorizeView Roles = "Admin">
          <button 
              type="button" class="btn btn-warning" 
              @onclick="NavigateToEditPackage" 
              @onclick:stopPropagation="true">
              
              Edit
          </button>
          <button type="button" class="btn btn-danger" 
                  @onclick="DeletePackage" 
                  @onclick:stopPropagation="true">

                  Delete
                  
          </button>
      </AuthorizeView>
      <AuthorizeView Roles = "User">
          <button 
              type="button" class="btn btn-success" 
              @onclick="PlaceOrderAsync" 
              @onclick:stopPropagation="true">
              
              Order
          </button>
      </AuthorizeView>
    </div>

  </div>
</div>
