@inherits LayoutComponentBase
@using EcoMeal.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService AuthService
@inject NavigationManager Navigation

<style>
    body{
        background-color: #f5fff6;
    }
</style>

<div class="page">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-success text-light sticky-top px-4">
            <a class="navbar-brand font-weight-bold text-light" href="/">EcoMeal</a>
            <div class="ms-auto">
                @if (AuthService.IsAuthenticated)
                {
                    <AuthorizeView Roles="Admin">
                        <a class="btn btn-outside-light border-light text-light btn-sm me-2" href="/orders/all">Admin Order Panel</a>
                    </AuthorizeView>
                    <AuthorizeView Roles="User">
                        <a class="btn btn-outside-light border-light text-light btn-sm me-2" href="/orders/my">Orders</a>
                    </AuthorizeView>
                    <button class="btn btn-sm border-info text-info me-2" disabled>Logged In</button>
                    <button class="btn btn-danger btn-sm" @onclick="HandleLogout">Logout</button>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="/login">Login</a>
                }
            </div>
        </nav>
    </header>
    <main>
        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthService.LoadTokenAsync();
            StateHasChanged();
        }
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
